body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background-attachment: fixed;
  /*background-image: url(../img/moscow-bg.gif);*/
  background-repeat: repeat-x;
}

/*td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}
*/

.fma {
  max-width: 955px;
  max-height: 310px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border: #666 1px solid;
  text-align: center;
}
object {
  /*width:100%;
	height:100%;
*/
  max-width: 955px;
  max-height: 310px;
}
.fmaCopy {
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
  width: 100%;
  font-size: 90%;
  background-color: #fff;
  padding: 10px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  /*border: 1px solid #666;*/
}

#apDiv1 {
  text-align: center;
  /*height: 702px;*/
  /*width:100%;*/
  max-width: 600px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  border: #666 1px solid;
  padding: 10px;
  background-color: #fff;
}
.fmaCopy p {
  padding: 5px;
  max-width: 600px;
  text-align: justify;
  margin: 0 auto;
  text-indent: 20px;
}
.wrap_txt_plus1 {
  width: 100%;
  max-width: 270px;
  font-size: 90%;
  text-align: center;
  float: left;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
img {
  max-width: 100%;
}
.clearfloat {
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px;
}
.border {
  padding: 3px;
  background-color: #fff;
  width: 626px;
  margin: 0 auto;
}
