@charset "utf-8";

#progress2 {
  font-size: 0.9em;
  height: 3em;
}

#progress2 {
  background: url(../img/acca820d52e744c29ae3e0800ed84057.png) 3vw center
    no-repeat #ffa5ad;
  background-size: 50px;
  position: relative;
}

.info {
  text-align: left;
  text-shadow: none;
}
.info0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 100%;
}

a.adblock__button {
  font-size: 10px;
  font-weight: bold;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 2px;
  background-color: #db473c;
  padding: 5px;
  text-align: center;
  border: 1px solid #db473c;
  text-shadow: none /*for gen-fraz*/;
}
a.adblock__button:hover {
  color: #db473c;
  -webkit-transition: background-color 0.15s ease-out;
  transition: background-color 0.15s ease-out;
  background-color: #ffa5ad;
  border: 1px solid #db473c;
}
.infront {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}

@media (min-width: 320px) {
  .info0 {
    padding-left: 75px;
  }
}
@media (min-width: 500px) {
  a.adblock__button {
    padding: 13px 5px;
  }
}
@media (min-width: 728px) {
  #progress2 {
    padding: 18px 0;
    height: initial;
  }
  .info0 {
    padding-left: 95px;
    padding-right: 10px;
  }
  a.adblock__button {
    padding: 13px 5px;
  }
}

@media (min-width: 425px) {
  .donateButton {
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #f5f5f5;
    border-right: 1px solid #e0e0e0;
    width: 320px;
  }
}
@media (min-width: 1440px) {
  #progress2 {
    font-size: 1em;
    padding: 15px 0;
    background-size: 60px;
    background-position-x: 38px;
  }
  .info0 {
    padding-left: 120px;
  }
}
@media (min-width: 2056px) {
  #progress2 {
    font-size: 1.5em;
    padding: 20px 0;
    background-size: 100px;
    background-position-x: 58px;
  }
  .info0 {
    padding-left: 180px;
  }
}
